<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="server" value="WIN-R7Q5CNK8D40\SQLEXPRESS" />
    <add key="database" value="sneakericon" />
    <add key="username" value="max" />
    <add key="password" value="123456" />
    <add key="resetDatabase" value="0" />
    <add key="upcdbTimeDelaySec" value="10" />
    <add key="ftpHostParsing" value="s07.webhost1.ru/" />
    <add key="ftpUserParsing" value="amaro_parsing2" />
    <add key="ftpPassParsing" value="38273827" />
    <add key="ftpHostAllBrands" value="s07.webhost1.ru/" />
    <add key="ftpUserAllBrands" value="amaro_allbrands" />
    <add key="ftpPassAllBrands" value="3IIW7eD8N5Tb" />
    <add key="ftpHostContabo" value="80.241.220.50/" />
    <add key="ftpUserContabo" value="ftp_user1" />
    <add key="ftpPassContabo" value="ftp_user1!3827" />
    <add key="ftpHostSneakerIcon" value="s07.webhost1.ru/" />
    <add key="ftpUserSneakerIcon" value="amaro_snicon" />
    <add key="ftpPassSneakerIcon" value="38273827" />
    <add key="fullCatalogFtpPath" value="FullCatalog/FullCatalog.json" />
    <add key="ftpHostUPCDB" value="s07.webhost1.ru/" />
    <add key="ftpUserUPCDB" value="amaro_upcdb" />
    <add key="ftpPassUPCDB" value="38273827" />
    <add key="bonanzaBoothUrl" value="http://www.bonanza.com/booths/sneakericon" />
    <add key="bonanzaBoothUrlAllBrands" value="https://www.bonanza.com/booths/SneakerEmpire" />
    <add key="directoryPath" value="C:\YandexDisc\YandexDisk\sneaker-icon\" />
    <add key="directoryPathParsing" value="Parsing\" />
    <add key="directoryPathExport" value="Export\" />
    <add key="basketShopFolder" value="basketshop.ru\" />
    <add key="basketshopCatalogFilename" value="Catalog.csv" />
    <add key="basketshopStockFilename" value="Stock.csv" />
    <add key="imageFolger" value="Images\" />
    <add key="nashStockFilename" value="nashstock\NashStock.csv" />
    <add key="discontStockSaleFilename" value="discont\sale.csv" />
    <add key="discontStockFilename" value="discont\StockDiscont.csv" />
    <add key="discontKuzminkyFilename" value="discont_msk_kuzminki\StockDiscont.csv" />
    <add key="discontSamaraFilename" value="discont\Stock_On_Hand.csv" />
    <add key="timeoutImageLoad" value="300" />
    <add key="userToken" value="efc5c16ddf133be45b82795fdb4422216cbcf27355f688daab8bc08ffeeba2eccbd535c386ad8f3bca65b" />
    <add key="idGroup" value="36848090" />
    <add key="login" value="79277915464" />
    <add key="pass" value="роман3827" />
    <add key="appId" value="6005315" />
    
    
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
