<?xml version="1.0" encoding="utf-8" ?>
 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <targets>
      <target name="default" xsi:type="File" fileName="${basedir}\def\new-app-log.txt" layout="${date:format=HH\:mm\:ss}|${level}|${message}" archiveFileName="${basedir}\archives\def\app-log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
      <target name="warn" xsi:type="File" fileName="${basedir}\warn\new-app-log.txt" layout="${date:format=HH\:mm\:ss}|${level}|${callsite}|${message}" archiveFileName="${basedir}\archives\warn\app-log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
      <target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${level}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="warn" />
      <logger name="*" minlevel="Debug" writeTo="default" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>

</nlog>